body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #323946;
}

header {
  background-color: #1f242d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.left-column {
  flex: 1;
  padding: 1rem;
}

.right-column {
  flex: 1;
  padding: 1rem;
}

h2 {
  color: #0ef;
  font-size: 24px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

ul {
  margin-top: 20px;
  padding-left: 20px;
  list-style: disc;
  color: white;
}

img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  color: #0ef;
}

.btn:hover {
  box-shadow: none;
}
